<style>
.sigil-shape-picker > svg > g:hover [fill="#fff"] {
  fill: #ec008c;
}
</style>

<div
  class="sigil-shape-picker"
  {{did-insert (action this.thing)}}
  {{did-update (action this.thing) this.svg}}
>
{{this.svg}}
</div>

<button {{action @onchange this.refs}}>Go</button>
