<h1>Base</h1>
<Sigil @p="~bac" />
<Sigil @ref="e3621cc2:7faaca8c:36a4b4a8:5dfed122" />

<h1>Base</h1>
<Sigil @p="~per" />
<Sigil @p="~dur" />
<Sigil @p="~lug" />
<Sigil @p="~pon" />
<Sigil @p="~ryg" />
<Sigil @p="~wan" />
<Sigil @p="~wyc" />
<Sigil @p="~zod" />

<h1>Favs</h1>
<Sigil @p="~wer" />
<Sigil @p="~sim" />
<Sigil @p="~hob" />
<Sigil @p="~mol" />
<Sigil @p="~nus" />

<h1>Prefixes</h1>
{{#each pres as |pre|}}
  <Sigil @p={{concat "~" pre}} />
{{/each}}

<h1>Suffixes</h1>
{{#each sufs as |suf|}}
  <Sigil @p={{concat "~" suf}} />
{{/each}}

{{outlet}}
